@model ATOS_v1._1.Models.Room

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Model.Name?</h3>
<div class="row">
    <hr />
    <dl class="dl-horizontal table-details-room">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountChair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountChair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBlackboard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBlackboard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProjector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProjector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color col-sm-4 col-xs-12">
        <input type="submit" value="Delete" class="btn btn-default" />
        <a class="btn btn-link" href="/Room/Index">
            Cancel
        </a>
    </div>
    }
</div>
