@model IEnumerable<ATOS_v1._1.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List users</h2>

<div class="row">
    <div class="col-sm-8 col-xs-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        <a class="no-underline-link" href="/Account/Edit/@item.Id">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <span>&nbsp;</span>
                        <a class="no-underline-link" href="/Account/Delete/@item.Id">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
